<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{content.kadaiTitle}"></title>
</head>
<body>
    <h1 th:text="#{content.kadaiH1}"></h1>
    <h2  th:text="#{content.kadaiH2Inp}"></h2>

    <p th:if="${previous} neq null" th:text="'前回入力された値は「' + ${previous} + '」でした。'"></p>
    <p th:text="#{content.kadaiPInp}"></p>
    <form method="post" action="/output"> <!--★postで送った場合はPOSTで受け取る-->
        <input type="text" name="val">
        <button type="submit" th:text="#{content.kadaiButton}"></button>
    </form>
</body>
</html>